body{
    margin: 0 -15px;
    font-family: 'Raleway', sans-serif;
}

header{
    
    position: relative;
    height: 750px;
    background-image: url(../img/bg_header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

header div.menu{
    height: 100px;
    padding: 50px;
    margin: 0 30px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    
}

header nav ul li a:hover{
    color: #061e37;
    transition-duration: 1s;
}

header nav ul li a{
    text-decoration: none;
    text-align: center;
    margin: 0 50px 0 0;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}



header div.text_sign_up a{
    margin-top: 10px;
    float: right;
    border: 2px solid white;
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

header div.flex_header{
    display: flex;
    margin: 170px 80px 0 80px;
    
}

header div.flex_header div.text_header div.text_title_header{
    text-transform: uppercase;

}